$main: #16DAC1;
$black: #1B1B1B;
$white: #FFFFFF;
$yellow: #FFEF5F;
$light: #DEE8E8;
$transparent: transparent;

$transition_function: cubic-bezier(0.4, 0, 0.2, 1);

@mixin animate($property: all, $ease: $transition_function, $duration: 0.4s) {
  -webkit-transition: $property $ease $duration;
  -moz-transition: $property $ease $duration;
  -o-transition: $property $ease $duration;
  transition: $property $ease $duration;
}

@mixin border_radius($radius: 4px) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin before {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    @content;
  }
}