.fade-enter-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-leave-active {
    transition: opacity 0.3s linear;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.flat-enter-active,
.flat-leave-active {
    transition: none;
}

.flat-enter-from,
.flat-leave-to {
    opacity: 100;
    transform: none;
}

.slide-fade-enter-active {
    transition: all 0.1s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    // transform: translateY(-100dvh);
    opacity: 0;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.slide-up-enter-active {
    animation: slide-up 0.5s ease-out;
}

.slide-up-leave-active {
    animation: slide-up 0.5s reverse ease-out;
}

.sheet-fade-enter-active {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0ms;
    transition-timing-function: ease-in-out;
}

.sheet-fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
}

.sheet-fade-enter-from,
.sheet-fade-leave-to {
    opacity: 0;
}

.slide-down-enter-active {
    transition-property: transform;
    transition-duration: 300ms;
    transition-delay: 250ms;
    transition-timing-function: linear;
}

.slide-down-leave-active {
    transition-property: transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: linear;
}

.slide-down-enter-from,
.slide-down-leave-to {
    transform: translateY(100%);
}

.delay-fade-enter-active {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 300ms;
    transition-timing-function: ease-out;
}

.delay-fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 100ms;
    transition-timing-function: ease-out;
}

.delay-fade-enter-from,
.delay-fade-leave-to {
    opacity: 0;
}
